<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="c:\temp\internal.txt">
    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
    </extensions>
    <targets>
        <target xsi:type="File" name="allfile" fileName="C:\Logs\LabApi\${shortdate}.log"
                layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}"/>
    </targets>
    <rules>
        <logger name="*" minlevel="Info" writeTo="allfile"/>
    </rules>
</nlog>